{% if bestMovie|length %}
<div class="section_best relative mt-6">
    {% if video %}
    <div class="video-player">
        <img src="{{ tmdb_images_original ~ bestMovie.backdrop_path }}" class="w-full" class="video">
        <button class="play-btn absolute left-1/2 top-1/2" data-video="{{ video.key }}" data-target="#modal1"> <span></span></button>
    </div>
    {% endif %}
    <div class="flex flex-row items-end absolute bottom-5 left-5">
        <div class="poster">
            <img src="{{ tmdb_images_w154 ~ bestMovie.poster_path }}" alt="">
        </div>
        <div class="desc ml-3">
            <p class="title font-semibold text-white">
                {{ bestMovie.title }}
            </p>
            <p class="subtitle text-white">
                {{ video.name }}
            </p>
        </div>
    </div>
</div>
{% endif %}
