<iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/{{ video.key }}?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<div class="name text-2xl text-gray-500 font-semibold mt-5">{{ movie.title }}</div>
<div class="text-blue-900 text-xs font-medium flex flex-row mt-5">
    <span class="font-normal">Film:</span> {{ video.name }}
    <div class="rate-yellow flex flex-row items-center ml-2">
        <div class="fill mr-1">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="fill mr-1">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="fill mr-1">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="fill mr-1">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="fill mr-1">
            <i class="fa-solid fa-star-half-stroke"></i>
        </div>
    </div>
    <span class="text_bg mr-2">{{ (movie.vote_average / 2)|number_format(1, '.', ',')  }} </span> pour {{ movie.vote_count }} utilisateurs
</div>